@{
    ViewData["Title"] = "About";
    ViewData["UseLightTheme"] = true;
    ViewData["CompactMode"] = true;
}

<style>
    .content-container {
        min-height: calc(-18.5rem + 100vh);
        padding-top: 3em;
        padding-bottom: 3em;
    }
</style>

<div style="background-color:#178600" class="row banner-row">
    <div class="banner-container container align-self-center">
        <h2>使命 · Mission</h2>
        <h5>探索人类边界</h5>
    </div>
</div>

<div class="container content-container">
    <h2 class="mb-3"><b>前言</b></h2>
    <p>
        在世界上，每时每刻都有立志保持纯粹的年青人，用自己的方式在践行理想，他们或是搭建Online Judge，或是写下Tutorial和感想，他们传递了这个圈子、这个时代的精神。我们向他们的工作致敬！
    </p>
    <p>
        做成这样一件事情，不仅需要志愿的想法，亦需要社会的支持。满腔热血是好的，志同道合的朋友更是不可或缺。
        <br />
        我们感谢一路走来，帮助过我们的个人和组织。不积跬步无以至千里，不积小流无以成江海，所有的平凡加起来，呈现的是别样的伟大。
    </p>
    <p>
        我们想要提供的，是优质的算法内容。如果没有优质内容，宁可完全没有内容。
        <br />
        我们想要提供的，是一套完整的体系。卓越来源于体系，体系造就改变世界的力量。
    </p>
    <p>
        我们相信年青人的梦想，相信年青人的力量，相信年青人的担当。
        <br />
        我们相信一个由年青人共同营建的算法社区能够在生命演化的道路中发挥它的作用。
        <br />
        总有一天，我们要离开地球，走向太空。
    </p>
</div>


<div style="background-color:#005ba1" class="row banner-row">
    <div class="banner-container container align-self-center">
        <h2>口号 · Slogan</h2>
        <h5>年青就应该大声说：生而为赢，创造未来</h5>
    </div>
</div>

<div class="container content-container">
    <h2 class="mb-3"><b>关于我们</b></h2>
    <p>
        Namomo 是由志愿者发起的非营利算法知识交流社区，我们现阶段的目标是让广大算法爱好者在以赛代练中增长算法知识、从而积累成为这个时代领军创新力量的关键意识和能力。于此同时，我们期望能引进更多 real big problem，我们期待终有一天通过平台会出现世界级别的创新。
    </p> 
    <p>
        我们想要提供的比赛类型包括但不仅限于：
    </p>
    <ol>
        <li>以ICPC、OI知识点为重点的比赛；</li>
        <li>以分布式计算为重点的比赛；</li>
        <li>以量子计算为重点的比赛；</li>
    </ol>
    <p>
        在这功利和浮夸的年代，我们想要传递的，远远不仅是技术而已，更是一种看待世界的不同方式。今天我们埋下了一颗火种，在世事沉浮中，也许就有星火燎原的那天。 
    </p>
    <p>
        我们期待各位的加入。
    </p>
</div>


<div style="background-color:#5c2d91;" class="row banner-row">
    <div class="banner-container container align-self-center">
        <h2>我们相信 · What We Believe</h2>
        <h5>极致 · 永恒 · 志愿 —— Greatest · Eternal · Voluntary</h5>
    </div>
</div>


<div class="container content-container">
    <h2 class="mb-3"><b>贡献者名单</b></h2>
    <p>
        <user username="apiad" />
        <user username="badcw" />
        <user username="tlylz99" />
        <user username="walkershi" />
    </p>
</div>

<style type="text/css">
    .spirit {
        font-family: Verdana;
        font-size: 2.5rem;
        text-align: center;
        align-self: center;
    }

    .banner-row {
        height: 15rem;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
    }

    .banner-container {
        font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
    }

        .banner-container > h2 {
            font-size: 2.25rem;
            font-weight: 600;
            margin-bottom: 0;
        }

        .banner-container > h5 {
            font-size: 1.25rem;
            font-weight: 400;
            padding-top: 16px;
            margin-bottom: 0;
        }
</style>
